/* GENERAL START */


.login{
  display: none;
}

.homePage{
  display: none;
}

.homePageNotLogined{
  display: none;
}

nav{
  background-color: hsl(179, 8%, 84%);
  width: 65%;
  margin: 20px auto;
  border: 3px solid black;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 20px;
  box-sizing: border-box;
}

.btn1{
  font-family: "Yusei Magic";
  color: hsl(0, 0%, 0%);
  background-color: hsl(179, 62%, 69%,100%);
  border-radius: 0px;
  border-color: hsl(0, 0%, 0%);
  border: 3px solid black;
  
}

button:disabled {
  /* important is to override */
  background-color: #ccc !important; 
  color: #666;
  border: 1px solid #999;
}


.btn1:hover{
  cursor: pointer;
  background-color: hsl(179, 27%, 44%);
}

.div4, .div5{
  display: flex;
  gap: 15px;
}
/* GENERAL END */

/* LOGIN AND SIGN UP START */
body{
  background-color: hsl(165, 60%, 78%,100%);
}

.title{
  padding: 0px 3.5%;
  margin-top: 5%;
  margin-bottom: 1%;
  font-family: "Yusei Magic";
}

p{
  font-family: "Zalando Sans";
}

.outside{
  background-color: hsl(179, 37%, 59%,100);
  border-radius: 5px;
  border: 3px solid black;
  margin: 20px auto;

  display: flex;
  justify-content: space-around;

  height: 25rem;
  width: 95%;
  padding: 20px 20px;

  box-sizing: border-box;
}


.inside1{ 
  background: 
  linear-gradient(hsl(320, 82%, 82%), hsl(320, 82%, 82%)),
  linear-gradient(hsl(179, 37%, 59%), hsl(179, 37%, 59%));
  background-blend-mode: multiply;
  font-weight: bold;

  border: 3px solid black;
  border-radius: 5%;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;

  display: flex;
  
  width: 47%;

}
.pinside{
  margin: auto auto;
  font-size: 2.5rem;
  padding: auto auto;
  display: flex;
  text-align: center;
}

.inside2{
  background: 
  linear-gradient(hsl(166, 88%, 79%), hsl(166, 88%, 79%)),
  linear-gradient(hsl(179, 37%, 59%), hsl(179, 37%, 59%));
  background-blend-mode: multiply;
  font-weight: bold;

  border: 3px solid black;
  border-radius: 5%;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;

  
  width: 47%;
}

.input1{
  background-color: hsl(179, 62%, 69%);
  padding: 1.5% 1%;
  border: 3px solid black;
  margin: 1% 1%;
  font-weight: bold;
}

.pinside2{
    font-size: 2em;
    margin-bottom: 2%;
}
.pinside2, .input1{
  text-align: center;

} 

.btn3Container{
  text-align: right;
  margin-right: 3em;
}

.btn3{

  font-family: "Yusei Magic";

  background-color: hsl(289, 22%, 54%,100%);
  
  border-bottom-right-radius: 80%;
  border-top-right-radius: 0%;
  border: 3px solid black;
  width: 25%;


  padding-right: 1%;
  padding-bottom: 1%;

}

.btn3:hover{
  cursor: pointer;
  background-color: hsl(287, 18%, 31%);

}
/* LOGIN AND SIGN UP END */

/* HOME PAGE START */
/* CATEGORIES AREA START */
.categories{
  display: flex;
  gap: 30px;
  justify-content: center;
}
.card{
  width: 80px;
  text-align: center;
}
.card img{
  width: 80px;
  height: 80px;

  padding: 5px;
  border-radius: 14px;

}
.card img:hover{
  cursor: pointer;
  filter: invert(20%) sepia(2%) saturate(0%) hue-rotate(180deg) brightness(1.05);
}

.card p{
  margin-top: -8px;
  font-family: "Yusei Magic";
  text-align: center;
  margin-left: 10px;
}
/* CATEGORIES AREA END */


/* Featured START */
.outerFeatured{
  background-color: #D4DADA;
  width: 65%;
  height: 2.5em;

  border-radius: 5px;
  border: 3px solid black;
  margin: 20px auto;

  display: flex;
  justify-content: space-around;

  height: 25rem;
  padding: 20px 20px;

  box-sizing: border-box;
}

.featured{
  font-family: "Yusei Magic";
  margin-left: 18%;
  margin-bottom: -13px;
}

/* FEATURED END */

/* HOMEPAGE END */
